body
{
  background-color: rgb(98, 89, 122);
  display: block;
}

.venemi
{
  color: white;
  font-family: sans-serif;
  border: 3px solid white;
  text-shadow: 0 0 3px #000;
}

<!--Fonts-->
@font-face { font-family: Signalist; src: url('https://venemi.github.io/czcionki/Signalist.ttf'); }
@font-face { font-family: Signalist; font-weight: bold; src: url('https://venemi.github.io/czcionki/Signalist.ttf');}

@font-face { font-family: FIL; src: url('https://venemi.github.io/czcionki/fil.ttf'); }
@font-face { font-family: FIL; font-weight: bold; src: url('https://venemi.github.io/czcionki/fil.ttf');}

@font-face { font-family: FIL; src: url('https://venemi.github.io/czcionki/Japanese3017.ttf'); }
@font-face { font-family: FIL; font-weight: bold; src: url('https://venemi.github.io/czcionki/Japanese3017.ttf');}

.wotn
{
  font-family:itsworkingsomehow;
  font-size: 75px;
  text-shadow: 0 0 3px #000;
  color: #A079BC;
}
.nazwa
{
  font-family: FIL;
  font-size: 40px;
  text-shadow: 0 0 3px #000;
}
i:hover
{
  color: #A079BC;
  text-shadow: 0 0 3px #000;
  transform: scale(1.3);
}


a:link
{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited
{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover
{
  color: #A079BC;
  background-color: transparent;
  text-decoration: none;
}

a:active
{
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
img
{
  border: 2px solid rgba(176,165,183,255);
}
.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.parent
{
  position: relative;
  top: 0;
  left: 0;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    align-items: center;
    font-family: 'roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;

}
a
{
  text-decoration:none
}
.header
{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
}
.header:after
{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgb(98, 89, 122, 0.12) 40%, rgb(98, 89, 122) 100%);
}
.header:before
{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale(1.0, 1.0);
    transform: translateZ(0);
  background:white url('https://cdn.discordapp.com/attachments/725853853119021106/1076525271970230282/caleb-brown-CXypx5nbzwA-unsplash.jpg') 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
.header a
{
  color:#white
}
.menu{
  display:block;
  width:40px;
  height:30px;
  border:2px solid #fff;
  border-radius:3px;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
}
.menu:after
{
  content:"";
  display:block;
  width:20px;
  height:3px;
  background:#fff;
  position:absolute;
  margin:0 auto;
  top:5px;
  left:0;
  right:0;
  box-shadow:0 8px, 0 16px
}
.logo
{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  padding:0px 10px;
  font-weight:900;
  font-size:1.1em;
  line-height:1;
  box-sizing:border-box;
  height:40px
}
.sides, .info
{
  flex: 0 0 auto;
  width:50%
}
.info
{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.author
{
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50%;
  background:url(https://cdn.discordapp.com/attachments/725853853119021106/1076453351262269481/avatar200.jpg) center no-repeat;
  background-size:cover;
  box-shadow:0 2px 3px rgba(0,0,0,0.3);
  margin-bottom:3px
}
.info h4, .meta
{
  font-size:0.7em
}
.meta{
  font-style:italic;
}
@keyframes grow
{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
.content
{
  padding:5% 10%;
  text-align:justify
}
.btn
{
  color:#555;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}

.ig
{
  margin-top:100px
}
.music
{
     margin-bottom: 0.5cm;
}
.songs
{
  margin-left: 0.1cm;
  padding:1% 10%;
}
.dropbtn {
  background-color: #ffffff;
  color: #A079BC;
  padding: 13px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #A079BC;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover
{
  background-color: #ddd;
}

.dropdown:hover .dropdown-content
{
  display: block;
}

.dropdown:hover .dropbtn
{
  background-color: #A079BC;
  color: white;
}
